<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Land</key>
		<string>Albania</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Algeria</string>
		<key>Promil</key>
		<string>0.1</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Argentina</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Armenia</string>
		<key>Promil</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Australia</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Azerbaijan</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Barbados</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Belarus</string>
		<key>Promil</key>
		<string>0.29</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Belgium</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Bolivia</string>
		<key>Promil</key>
		<string>0.49</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Bosnia and Herzegovina</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Botswana</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Brazil</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Bulgaria</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Cambodia</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Canada</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Chile</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>China</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Colombia</string>
		<key>Promil</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Costa Rica</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Croatia</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Czech Republic</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Denmark</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Ecuador</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>El Salvador</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Estonia</string>
		<key>Promil</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Ethiopia</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Finland</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>France</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Georgia</string>
		<key>Promil</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Germany</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Greece</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Guatemala</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Guyana</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Honduras</string>
		<key>Promil</key>
		<string>0.7</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Hungary</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Iceland</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>India</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Ireland</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Israel</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Italy</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Japan</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Kenya</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Kyrgyzstan</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Latvia</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Lithuania</string>
		<key>Promil</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Luxembourg</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Macedonia</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Malaysia</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Malta</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Mauritius</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Mexico</string>
		<key>Promil</key>
		<string>0.4</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Moldova</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Mongolia</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Montenegro</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Nepal</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>The Netherlands</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>New Zealand</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Nicaragua</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Norway</string>
		<key>Promil</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Panama</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Paraguay</string>
		<key>Promil</key>
		<string>0.1</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Peru</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Phillipines</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Poland</string>
		<key>Promil</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Portugal</string>
		<key>Promil</key>
		<string>0.49</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Puerto Rico</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Romania</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Russia</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Serbia</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Singapore</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Slovakia</string>
		<key>Promil</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Slovenia</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>South Africa</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>South Korea</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Spain</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Suriname</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Sweden</string>
		<key>Promil</key>
		<string>0.2</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Switzerland</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Tanzania</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Thailand</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Turkey</string>
		<key>Promil</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Turkmenistan</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Uganda</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>United Kingdom</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>United States</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Uruguay</string>
		<key>Promil</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Venezuela</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
	<dict>
		<key>Land</key>
		<string>Zimbabwe</string>
		<key>Promil</key>
		<string>0.8</string>
	</dict>
</array>
</plist>
